@import "theme.css";

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font);
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  text-align: justify;
}

.overlay {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  height: 100px;
}

header .overlay,
footer .overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header nav a {
  margin-right: 10px;
}

.home {
  font-weight: 700;
}


a {
  color: var(--foreground);
  cursor: pointer;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--foreground);
}

footer {
  font-size: 12px;
}


footer .soc {
  text-decoration: none;
}

footer .icon {
  max-height: 15px;
  vertical-align: middle;
}


main a{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent);
}

main a:hover {
  text-decoration-color: var(--foreground);
}


hr {
  border: 0;
  margin: 1em 0;
  border-top: 3px dotted var(--foreground);
}

.hr-notes {
  border-top: 2px solid var(--foreground);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.meta {
  color: #999;
  letter-spacing: -0.5px;
}

.tags ul {
  list-style: none;
  padding-left: 2px;
}

.tags li {
  display:inline-block;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid var(--maincolor); 
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h1::before { color: var(--accent); content: '# '; }
h2::before { color: var(--accent); content: '## '; }
h3::before { color: var(--accent); content: '### '; }
h4::before { color: var(--accent); content: '#### '; }
h5::before { color: var(--accent); content: '##### '; }
h6::before { color: var(--accent); content: '###### '; }

.notes {
  h2 {
    margin-top: 0;
  }
}